<h1>My page</h1>
<%= current_user.name %> | <%= current_user.email %> | balance: <%= current_user.money_account.balance %>

<h2>Information</h2>
<p><%= link_to 'Friends all', friendships_path %></p>
<p><%= link_to 'Money transfer all', money_transfers_path %></p>

<h2>Action</h2>
<p><%= link_to 'Money transfer to a friend', new_money_transfer_path %></p>
