<h1>My page</h1>
<ul class="collection">
  <li class="collection-item avatar">
    <%= image_tag FFaker::Avatar.image(current_user.name, '50x50'), class: 'circle' %>
    <p>
      <%= current_user.name %><br>
      <%= current_user.email %><br>
      balance: <%= current_user.money_account.balance %>
    </p>
  </li>
</ul>
<h2>Information</h2>
<p><%= link_to 'Friends all', friendships_path %></p>
<p><%= link_to 'Money transfer all', money_transfers_path %></p>

<h2>Action</h2>
<p><%= link_to 'Money transfer to a friend', new_money_transfer_path %></p>
