<h1>Money transfers</h1>
<div class="row">
  <div class="col s6">
    <h2>Sent</h2>
    <ul class="collection">
      <% if current_user.money_senders %>
        <% current_user.money_senders.each do |transfer| %>
          <a href="<%= money_transfer_path transfer.id %>" class="collection-item avatar">
            <%= image_tag FFaker::Avatar.image(transfer.receiver.name, '50x50'), class: 'circle' %>
            <p>
              Receiver name: <%= transfer.receiver.name %><br>
              Amount: <%= transfer.amount %><br>
              Message: <%= transfer.message %><br>
              Sent date: <%= transfer.created_at %>
            </p>
          </a>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col s6">
    <h2>Received</h2>
    <ul class="collection">
      <% if current_user.money_receivers %>
        <% current_user.money_receivers.each do |transfer| %>
          <a href="<%= money_transfer_path transfer.id %>" class="collection-item avatar">
            <%= image_tag FFaker::Avatar.image(transfer.sender.name, '50x50'), class: 'circle' %>
            <p>
              Sender name: <%= transfer.sender.name %><br>
              Amount: <%= transfer.amount %><br>
              Message: <%= transfer.message %><br>
              Sent date: <%= transfer.created_at %>
            </p>
          </a>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
