<h1>MoneyTransfers</h1>

<%= form_for(:user_money_transfer, url: user_money_transfers_path) do |f| %>
  <div>
    <%= f.label :receiver_id %>
    <%= f.number_field :receiver_id %>
  </div>

  <div>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div>
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>

  <%= f.submit "Submit" %>
<% end %>
