<h1>MoneyTransfers#new</h1>

<% unless @receivers.blank? %>

  <%= form_for(:money_transfer, url: money_transfers_path) do |f| %>
    <div>
      <%= f.label :receiver %>
      <div class="input-field">
        <% # TODO : Need adjustments %>
        <% unless @assigned_receiver.blank? %>
          <%= f.collection_select :receiver_id, current_user.eceivers, :id, :name, prompt: "Please select a friend", selected: @assigned_receiver %>
        <% else %>
          <%= f.collection_select :receiver_id, current_user.receivers, :id, :name, prompt: "Please select a friend" %>
        <% end %>
      </div>
    </div>

    <div>
      <%= f.label :amount %>
      <%= f.text_field :amount %>
    </div>

    <div>
      <%= f.label :message %>
      <%= f.text_field :message %>
    </div>

    <%= f.submit "Submit", class: "waves-effect waves-light btn" %>
  <% end %>

<% else %>

  <p>No friends.</p>

<% end %>

<p>
  <%= link_to 'Back', mypage_path %>
</p>
