<h1>Send</h1>

<% if @receiver_friends.present? %>

  <%= form_for(:money_transfer, url: money_transfers_path) do |f| %>
    <div>
      <%= label_tag :account %>
      <div class="input-field">
        <%= current_user.money_account.balance %>
      </div>

      <%= f.label :receiver %>
      <div class="input-field">
        <% unless @assigned_receiver.blank? %>
          <%= f.collection_select :receiver_id, @receiver_friends, :id, :name, prompt: "Please select a friend", selected: @assigned_receiver %>
        <% else %>
          <%= f.collection_select :receiver_id, @receiver_friends, :id, :name, prompt: "Please select a friend" %>
        <% end %>
      </div>
    </div>

    <div>
      <%= f.label :amount %>
      <%= f.text_field :amount %>
    </div>

    <div>
      <%= f.label :message %>
      <%= f.text_field :message %>
    </div>

    <div>
      set input type image
    </div>

    <%= f.submit "Swipe to pay", class: "waves-effect waves-light btn" %>
  <% end %>

<% else %>

  <p>No friends.</p>

<% end %>
