<h1>MoneyTransfers#new</h1>

<% unless @friends.blank? %>

  <%= form_for(:money_transfer, url: money_transfers_path) do |f| %>
    <div>
      <%= f.label :receiver %>
      <div class="input-field">
        <% if @friend_name %>
          <%= f.collection_select :receiver_id, @friends, :id, :name, prompt: "Please select a friend", selected: @friend_name %>
        <% else %>
          <%= f.collection_select :receiver_id, @friends, :id, :name, prompt: "Please select a friend" %>
        <% end %>

      </div>
    </div>

    <div>
      <%= f.label :amount %>
      <%= f.text_field :amount %>
    </div>

    <div>
      <%= f.label :message %>
      <%= f.text_field :message %>
    </div>

    <%= f.submit "Submit", class: "waves-effect waves-light btn" %>
  <% end %>

<% else %>

  <p>No friends.</p>

<% end %>

<p>
  <%= link_to 'Back', mypage_path %>
</p>
